apscheduler
dateparser
fastapi
fuzzywuzzy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-genai
pydantic
pydantic-settings
pyspellchecker
python-dotenv
requests
sqlalchemy
uvicorn